$bg-main: #181C28;
$bg-card: #202635;
$bg-alt: #272f41;
$bg-hover: #191D29;
$bg-popup: #2D3649;
$bg-popup-alt: #262E3C;
$bg-board: #262d3d;//#232A39;
$bg-board-alt: #293140;
$gray: #C8D2DE;
$gray-alt: #6884A4;
$bronze: #C19A98;
$green: #00CEB8;
$green-gradient-1: #00C2CE;
$green-gradient-2: #00CEA7;
$red: #FF2A6D;
$blue: #58A7FF;
$purple: #5E72E4;
$orange: #F2A656;
$pink: #BD66FF;
$yellow: #f0ff1a;//#F5FF66;